.aboutCourse {
  section.intro {
    padding: 40px 0 0 0;

    h1 {
      font-size: 2.2rem;
      text-align: center;
      align-self: center;

      &::after {
        margin-bottom: 40px;
      }
    }
    
    img {
      width: 100%;
      height: 500px;
      object-fit: cover;
    }
  }

  div.cards {
    display: inline-flex;
    flex-direction: row;

    .left, .right {
      flex: 1;
    }

    .courseCard {
      margin: 20px 10px;

      iframe {
        width: 100%;
        height: 250px;
      }

      *:last-child {
        margin-bottom: 0; 
      }
    }
  }
}