.aboutCourse {
  section.intro {
    padding: 40px 0 0 0;

    h1 {
      font-size: 2.2rem;
      text-align: center;
      align-self: center;

      &::after {
        margin-bottom: 40px;
      }
    }
    
    img {
      width: 100%;
      height: 500px;
      object-fit: cover;
    }
  }

  div.cards {
    display: inline-flex;
    flex-direction: row;

    .courseCard {
      margin: 20px 10px;
    }
  }
}