@font-face {
  font-family: CinzelDecorative;
  src: url('../fonts/CinzelDecorative.ttf');
}
  
@font-face {
  font-family: NotoSans;
  src: url('../fonts/NotoSans-Regular.ttf');
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: NotoSans;
}

section {
  display: flex;
  flex-direction: column;

  padding: 60px 15%;
}

h1, h2, h3, h4 {
  display: flex;
  flex-direction: column;
  margin: 0;

  &::after {
    content: " ";
    display: block;
    background-color: #252525;
    width: 140px;
    height: 3px;
    margin-top: 4px;
    margin-bottom: 20px;
    align-self: inherit;
  }
}