@import './Consts';

@font-face {
  font-family: CinzelDecorative;
  src: url('../fonts/CinzelDecorative.ttf');
}
  
@font-face {
  font-family: NotoSans;
  src: url('../fonts/NotoSans-Regular.ttf');
}

* {
  box-sizing: border-box;
  outline: none;
}

a {
  text-decoration: none;
  color: #252525;
}

ul {
  margin-top: 0;
}

body {
  margin: 0;
  font-family: NotoSans;
  color: #252525;
}

section {
  display: flex;
  flex-direction: column;

  width: 100%;
  padding: 60px 15%;

  &.info {
    padding-top: 40px;
    padding-bottom: 0;

    h1 {
      font-size: 2.2rem;
      font-weight: bold;
      align-self: center;

      &::after {
        margin-bottom: 10px;
      }
    }

    p {
      color: #4c4c4c;
      font-style: italic;
      width: 500px;
      text-align: center;
      align-self: center;
      margin: 0;
    }
  }
}

h1, h2, h3, h4 {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-weight: normal;

  &::after {
    content: " ";
    display: block;
    background-color: #252525;
    width: 140px;
    height: 3px;
    margin-top: 4px;
    margin-bottom: 20px;
    align-self: inherit;
  }
}

.card {
  border-radius: 2px;
  box-shadow: 0 0 4px rgba(0,0,0,0.4);
}

.shadow {
  box-shadow: 0 0 4px rgba(0,0,0,0.4);
}

p.divider {
  position: relative;
  display: inline-flex;
  justify-content: center;
  width: 100%;

  &::before, &::after {
    content: " ";
    align-self: center;
    height: 3px;
    background-color: $purple-3;
    flex-grow: 1;
  }

  &::before {
    margin-right: 10px;
  }

  &::after {
    margin-left: 10px;
  }
}

.row {
  display: inline-flex;
  flex-flow: row wrap;

  & > div {
    flex: 1;
    flex-basis: 0;
    margin: 0 10px 20px 10px;
  }
}

@media only screen and (max-width: 576px) {
  .row {
    display: inline-flex;
    flex-flow: row wrap;
  
    & > div {
      flex-basis: 100%;
    }
  }
}

@media only screen and (max-width: 768px) {
  html {
    font-size: 12px;
  }

  section {
    padding: 40px 5%;
  }
}