@import './Consts';

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  height: 60px;
  padding: 0 30px;
  align-self: center;
  border: 3px solid $purple-3;
  border-radius: 30px;

  background-color: transparent;
  color: $purple-3;
  user-select: none;
  text-decoration: none;
  cursor: pointer;

  transition: color 0.4s, background-color 0.4s, border 0.4s;

  &:hover {
    background-color: $purple-3;
    color: white;
  }

  &.btn-filled {
    border: none;
    background-color: $purple-1;
    color: white;

    &:hover {
      background-color: $purple-4;
    }
  }
}