@import './Consts';

.discussion {
  .filters {
    flex-direction: row;
    padding-bottom: 0;

    .comboBox {
      margin-right: 20px;
    }
  }

  section.posts {
    flex-direction: row;
    padding-top: 20px;

    & > div {
      margin: 0 10px;
    }

    .postCards {
      flex: 7;
    }

    .optionsColumn {
      flex: 3;

      button {
        width: 100%;
      }

      div {
        width: 100%;
        height: 200px;
        border: 1px solid $purple-3;
        margin: 20px 0;
        cursor: pointer;
      }
    }
  }
}

@keyframes load {
  0% { 
    background-color: $purple-3;
  }

  50% {
    background-color: $purple-4;
  }

  100% {
    background-color: $purple-3;
  }
}