@import './Consts';

.footer {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: $footer-height;
  padding: 0 calc(15% + 10px);

  &.footer-filled {
    color: white;
    background-color: $purple-3;
  }
}

@media only screen and (max-width: 768px) {
  .footer {
    padding: 0 5%;
  }
}