@import './Consts';

.login, .signup, .contact {
  section {
    min-height: calc(100vh - #{$header-height + $footer-height});
    display: inline-flex;
    flex-direction: row;

    & > div {
      flex: 1;
    }

    & > div:first-child {
      margin: 0 calc(100% / 6 + 40px) 0 10px;
    }

    div:not(.userSocialMedias) > .button {
      width: 100%;
      font-size: 1.2rem;
    }

    p {
      margin-top: 0;
    }
  }

  h1 {
    font-size: 2.2rem;

    &::after {
      margin-bottom: 40px;
    }
  }
}

@media only screen and (max-width: 992px) {
  .login, .signup, .contact {
    section {
      & > div:first-child {
        margin-right: 20px;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .login, .signup, .contact {
    section {
      & > div {
        flex-basis: 100%;

        &:first-child {
          margin-bottom: 60px;
        }
      }
    }
  }
}