@import './Consts';

$button-width: 160px;
$button-height: 50px;
$login-shrink: 20;

.header {
  position: relative;
  display: inline-flex;
  background-color: $purple-3;
  height: $header-height;
  width: 100%;
  padding: 10px 20px;
  justify-content: space-between;
  align-items: center;

  nav {
    flex: 1;
    align-self: center;
    display: inline-flex;

    & > div > a {
      margin: 0 10px;
    }

    &:last-child {
      justify-content: flex-end;
    }
  }

  & > a {
    font-family: 'CinzelDecorative', sans-serif;
    font-size: 3rem;
    color: white;
    align-self: center;
  }

  .slideMenu {
    display: none;

    .menu-button {
      position: absolute;
      top: calc(50% - #{$header-height-sm - 40px} / 2);
      left: 20px;
      align-self: center;
      height: $header-height-sm - 40px;
      width: $header-height-sm - 34px;

      span {
        background-color: white;
        transition: background-color 0.4s;
      }

      &:hover {
        span {
          background-color: #c0c0c0;
        }
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .header {
    height: $header-height-sm;
    padding: 10px 5%;
  
    a {
      margin: 0 auto;
      font-size: 2.2rem;

      img {
        height: $header-height-sm - 20px;
      }
    }
  
    nav {
      display: none;
    }

    .slideMenu {
      display: block;
    }
  }
}