@import './Consts';

$button-width: 160px;
$button-height: 50px;
$login-shrink: 20;

.header {
  position: relative;
  display: inline-flex;
  background-color: $purple-3;
  height: $header-height;
  width: 100%;
  padding: 10px calc(15% + 10px);
  justify-content: space-between;

  img {
    height: 80px;
  }

  nav {
    position: relative;
    display: inline-flex;
    height: $button-height;
    align-self: center;

    span {
      position: absolute;
      background-color: white;
      top: .5px;
      height: calc(100% - 1px);
      left: $button-height / 2;
      right: $button-height / 2;
    }

    a {
      display: flex;
      flex-flow: column nowrap;

      font-size: 1rem;
      height: 100%;
      width: $button-width;
      padding: 0 $button-height / 2;

      justify-content: center;
      z-index: 2;
      
      background-color: $purple-1;
      color: white;
      text-decoration: none;
      transition: background-color 0.4s;

      &:not(:last-child) {
        border-top-left-radius: $button-height;
        border-bottom-left-radius: $button-height;
        text-align: left;
        clip-path: polygon(0 0, 100% - $login-shrink 0%, 75% - $login-shrink 100%, 0% 100%);
        margin-right: -((25 + $login-shrink) * $button-width / 100) + 2;
      }

      &:last-child {
        border-top-right-radius: $button-height;
        border-bottom-right-radius: $button-height;
        text-align: right;
        clip-path: polygon(25% 0, 100% 0%, 100% 100%, 0% 100%);
      }

      &:hover {
        background-color: $purple-4;
      }
    }
  }

  .slideMenu {
    display: none;

    .menu-button {
      position: absolute;
      top: calc(50% - #{$header-height-sm - 40px} / 2);
      left: 20px;
      align-self: center;
      height: $header-height-sm - 40px;
      width: $header-height-sm - 34px;

      span {
        background-color: white;
        transition: background-color 0.4s;
      }

      &:hover {
        span {
          background-color: #c0c0c0;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .header {
    height: $header-height-sm;
    padding: 10px 5%;
  
    a {
      margin: 0 auto;

      img {
        height: $header-height-sm - 20px;
      }
    }
  
    nav {
      display: none;
    }

    .slideMenu {
      display: block;
    }
  }
}