@import './Consts.scss';

.home {
  h2 {
    font-size: 2.2rem;
    font-weight: bold;
    align-self: center;
  }

  .intro {
    background: url('../imgs/homeBackground.jpg') no-repeat;
    background-position: center 0;
    background-size: cover;

    justify-content: center;
    height: calc(100vh - #{$header-height});
    color: white;

    h1 {
      font-family: CinzelDecorative;
      font-weight: normal;
      font-size: 5rem;
      text-shadow: 0 0 4px rgba(0, 0, 0, 0.5);

      align-self: center;
      &::after {
        background-color: white;
      }
    }

    blockquote {
      margin: 0 26%;
      text-align: right;

      p {
        text-align: center;
      }
    }
  }

  .features {
    & > div {
      display: inline-flex;
      margin-top: 20px;

      .feature {
        margin: 0 10px;
        flex-basis: 0;
        flex-grow: 1;
      }
    }
  }
}