@import './Consts.scss';

.home {
  h2 {
    font-size: 2.2rem;
    font-weight: bold;
    align-self: center;
  }

  span {
    color: #4c4c4c;
    font-size: 0.9rem;
    margin: 0 auto;
    margin-bottom: 3px;
    margin-top: 40px;
  }

  section.intro {
    background: url('../imgs/homeBackground.jpg') no-repeat;
    background-position: center 0;
    background-size: cover;

    justify-content: center;
    height: calc(100vh - #{$header-height});
    color: white;

    h1 {
      font-family: CinzelDecorative;
      font-weight: normal;
      font-size: 5rem;
      text-shadow: 0 0 4px rgba(0, 0, 0, 0.5);

      align-self: center;
      &::after {
        background-color: white;
      }
    }

    blockquote {
      margin: 0 26%;
      text-align: right;

      p {
        text-align: center;
      }
    }
  }

  section.features {
    & > div {
      display: inline-flex;
      margin-top: 20px;

      .feature {
        margin: 0 10px;
        flex-basis: 0;
        flex-grow: 1;
      }
    }
  }

  .problem {
    background-color: #fafafa;

    div.data {
      display: inline-flex;
      align-content: center;
      padding: 0 10px;

      img {
        padding: 15px;
        border: 3px solid $purple-2;
        border-radius: 100%;
        
        height: 150px;
        width: 150px;

        align-self: center;
      }

      div {
        margin-left: 20px;

        p {
          font-size: 1.4rem;

          span {
            display: block;
            font-size: 2.5rem;
            line-height: 2.5rem;
            font-weight: bold;
            color: $purple-2;
          }
        }
      }
    }

    div.explanation {
      display: inline-flex;
      margin-top: 20px;

      div {
        flex: 1;
        padding: 0 10px;

        h3 {
          color: $purple-2;

          &::after {
            margin-bottom: 12px;
            background-color: $purple-2;
          }
        }

        p {
          margin: 0;
        }
      }
    }
  }

  section.price {
    background-color: $purple-3;

    h2, span {
      color: white;
    }

    h2::after {
      background-color: white;
    }

    span {
      font-size: 1.4rem;
      margin-top: 20px;
      margin-bottom: 10px;
    }
  }
}