@import './Consts';

.input {
  position: relative;
  margin-bottom: 20px;
  width: 100%;

  label {
    position: absolute;
    display: block;
    color: #434343;
    font-size: 0.8rem;
  }

  input, textarea {
    outline: none;
  }

  input:not([type=submit]), textarea {
    height: 2.5rem;
    width: 100%;
    background-color: transparent;
    color: #434343;
    transition: border-color 0.4s, color 0.4s;
    
    border: none;
    border-bottom: 1px solid #434343;
    border-left: 1px solid #434343;
    border-bottom-left-radius: 3px;

    margin-top: 1.2rem;
    padding: 0 0 4px 8px;
    font-size: 1.2rem;
  }

  input[type=submit] {
    padding: 0;
  }

  textarea {
    font-size: 1.4rem;
    line-height: 1.8rem;

    width: 100%;
    height: calc(10.8rem + 0px);
    resize: none;
  }

  input:not([type=submit]):focus, textarea:focus {
    border-color: $purple-1;
    color: #252525;
  }
}