@import './Consts';

.message {
  display: inline-flex;

  .userProfile {
    flex: 2;
    margin-right: 10px;

    .badge > span {
      position: absolute;
      left: 72px;
      top: 72px;
      width: 30px;
      height: 30px;
      background-color: rgba($color: white, $alpha: 0.9);
      border: 1px solid $purple-3;
      font-weight: bold;
    }

    p {
      text-align: center;
      margin-top: 2px;
      margin-bottom: 0px;

      &.username {
        font-weight: bold;
        margin-top: 10px;
      }
    }
  }

  .messageData {
    flex: 8;
    margin-left: 10px;

    h1 {
      font-weight: bold;

      &::after {
        content: none;
      }
    }

    label {
      font-size: 0.9rem;
      color: #4c4c4c;
      font-style: italic;
    }
  }
}