.popover {
  position: absolute;
  margin-top: 5px;
  transition: opacity 0.4s, margin-top 0.4s;
  max-width: 400px;
  
  .arrowShadow {
    position: absolute;
    top: -1px;
    height: 11px;
    width: 34px;
    background-color: rgba(0, 0, 0, 0.4);
    clip-path: polygon(50% 0, 50% 0%, 100% 100%, 0% 100%); 
    filter: blur(12px);

    &.right {
      right: -2px;
    }

    &.left {
      left: -2px;
    }

    &.center {
      left: calc(50% - 17px);
    }
  }

  .arrow {
    height: 10px;
    width: 30px;
    background-color: #fafafa;
    clip-path: polygon(50% 0, 50% 0%, 100% 100%, 0% 100%); 
    z-index: 2;

    &.right {
      margin-left: auto;
    }

    &.center {
      margin: 0 auto;
    }
  } 

  .body {
    right: 0;
    background-color: #fafafa;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.4);

    ul {
      margin: 0;
      padding: 0;

      a {
        display: block;
        padding: 10px 15px;
        cursor: pointer;

        &:hover {
          background-color: #f0f0f0;
        }

        &:not(:last-child) {
          border-bottom: 1px solid rgba(0, 0, 0, 0.10);
        }
      }
    }
  }

  &.hidden {
    margin-top: 2px;
    opacity: 0;
    pointer-events: none;
  }
}