@import './Consts';

.postCard {
  margin-bottom: 20px;

  p {
    line-height: 1.5rem;
    max-height: 4.5rem;
    overflow: hidden;

    &.title {
      font-weight: bold;
      margin: 0;
      margin-bottom: 10px;
      font-size: 1.2rem;
      line-height: 1.8rem;
      max-height: 3.6rem;
    }
  }
}