@import './Consts';

.socialMedias {
  display: inline-flex;
  margin: 0;
  margin-left: 20px;
  padding: 0;

  .button {
    height: 50px;
    width: 50px;
    border-radius: 100%;
    padding: 10px;
    border: 3px solid #252525;
    
    img {
      height: 30px;
      width: 30px;
      filter: saturate(0) brightness(.45);
      transition: filter 0.4s;
    }

    &:hover {
      border: 3px solid $purple-3;;
  
      img {
        filter: saturate(0) brightness(4);
      }
    }

    &:not(:last-child) {
      margin: 0 20px;
    }

    &:first-child {
      margin-left: 0;
    }
  
  }

  &.inverse {
    .button {
      border: 3px solid white;
      transition: background-color 0.4s;

      img {
        filter: saturate(0) brightness(4);
      }
    }
  
    .button:hover {
      background-color: white;
  
      img {
        filter: none;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .socialMedias .button {
    height: 40px;
    width: 40px;
    border-radius: 100%;
    padding: 6px;
    border: 3px solid #252525;
    
    img {
      height: 26px;
      width: 26px;
    }

    &:not(:last-child) {
      margin: 0 10px;
    }

    &:first-child {
      margin-left: 0;
    }
  }
}