@import './Consts';

.userHeader {
  position: relative;
  display: inline-flex;
  background-color: $purple-3;
  height: $header-height - 20px;
  width: 100%;
  padding: 10px 10px 10px calc(15% + 10px);
  justify-content: space-between;

  & > a {
    font-size: 2rem;
  }

  img {
    height: 60px;
  }

  & > .nav {
    display: inline-flex;
    height: 100%;

    .name {
      color: white;
      font-size: 2rem;
      margin: 0 10px 0 30px;
      align-self: center;
    }

    div {
      position: relative;

      &:first-child {
        align-self: center;
        
        .material-icons {
          font-size: 2rem;
        }
      }

      &:not(:first-child) {
        img {
          border-radius: 100%;
          padding: 6px 0;
        }

        button {
          position: absolute;
          padding: 0;
          right: -5px;
          bottom: 0;
          width: 25px;
          height: 25px;
          border: 1px solid white;
          background-color: rgba($color: $purple-3, $alpha: 0.85);

          .material-icons {
            font-size: 16px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .userHeader {
    height: $header-height-sm;
    padding: 10px 5%;
  
    & > .nav {
      display: none;
    }
  }
}