@import './Consts';

.userHeader {
  position: relative;
  display: inline-flex;
  background-color: $purple-3;
  height: $header-height - 20px;
  width: 100%;
  padding: 10px 10px 10px calc(15% + 10px);
  justify-content: space-between;

  & > a {
    height: 100%;
  }

  img {
    height: 60px;
  }

  & > .nav {
    display: inline-flex;
    height: 100%;

    .name {
      color: white;
      font-size: 2rem;
      margin: 0 10px 0 30px;
      align-self: center;
    }

    div {
      position: relative;

      &:first-child {
        align-self: center;
        
        .material-icons {
          font-size: 2rem;
        }
      }

      &:not(:first-child) {
        img {
          border-radius: 100%;
          padding: 6px 0;
        }

        button {
          position: absolute;
          padding: 0;
          right: -5px;
          bottom: 0;
          width: 25px;
          height: 25px;
          border: 1px solid white;
          background-color: rgba($color: $purple-3, $alpha: 0.85);

          .material-icons {
            font-size: 16px;
          }
        }
      }
    }
  }

  .slideMenu {
    display: none;

    .menu-button {
      position: absolute;
      top: calc(50% - #{$header-height-sm - 40px} / 2);
      left: 20px;
      align-self: center;
      height: $header-height-sm - 40px;
      width: $header-height-sm - 34px;

      span {
        background-color: white;
        transition: background-color 0.4s;
      }

      &:hover {
        span {
          background-color: #c0c0c0;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .userHeader {
    height: $header-height-sm;
    padding: 10px 5%;
  
    a {
      margin: 0 auto;

      img {
        height: $header-height-sm - 20px;
      }
    }
  
    & > .nav {
      display: none;
    }

    .slideMenu {
      display: block;
    }
  }
}